/*Base styles*/
h1 {
}
h3 {
}
/*Layout styles*/
html,
body {
  margin: 0;
  padding: 0;
}

/*Block styles*/
.nav {
  border: dashed blue 1px;
  display: flexbox;
  flex-direction: row;
}

.nav-container {
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  border: dashed red 1px;
}

.nav__list-item {
  margin: 5px;
}

.nav__link {
}

.nav__button {
}

.hero {
  border: dashed hotpink 1px;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__heading {
}

.hero__sub-heading {
  width: 300px;
  border: dashed blue 1px;
}

.hero__image {
  border: dashed peru 1px;
  width: 300px;
  height: 250px;
}

.quote {
  border: dashed purple 1px;
  /* width: 200px; */
}

.quote-container {
  /* width: 200px; */
  border: dashed darkcyan 1px;
  display: flex;
  flex-direction: row;
}

.quote__wrapper {
  border: dashed turquoise 1px;
  width: 200px;
  margin: 20px;
}

.quote__image {
}

.quote__body {
  border: dashed yellowgreen 1px;
  /* width: 200px; */
}

.learn-to-code {
  border: dashed red 1px;
  display: flex;
}

.learn-to-code__wrapper {
  border: dashed green 1px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.learn-to-code__image {
}

.learn-to-code__heading {
}

.button--inactive {
}

.compare-programs {
  border: dashed darkorchid 1px;
  margin: 30px;
}

.compare-programs__heading {
}
